.button__action-edit {
    width: 18px;
    height: 18px;
    border: 1px solid  #FFFFFF;
    background-image: url('../../../images/profile_edit_white.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
}