.button_action_submit {
    margin: 18px 36px 36px 36px; 
    width: 358px;
    height: 50px;
    color:  #FFFFFF;
    background-color: #000000;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    border:  none;
    border-radius: 2px;
  }
  
  @media screen and (max-width: 768px) {
    .button_action_submit {
      height: 20px;
      font-size: 12px;
      width: 187px;
      margin-top: 5px;
    }
  }
  