.header__logo {
    width: 126px;
    height:  24px;
    padding-left: 27px;
  }

@media screen and (min-width: 375px) {
  .header__logo {
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    width: 173px;
    height: 33px;
  }
}