.button__action-close {
    background-image: url('../../../images/close-icon.svg');
    background-size: contain;
    background-color: transparent;
    border: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: 204px;  
    margin-top: -207px;  
    width: 58px;
    height: 58px;
  }
  

  @media screen and (max-width: 768px) {
    .button__action-close {
      margin-left: 125px;
      margin-top: -125px;
      width: 30px;  
      height: 30px;   
    }
  }