.button__action-submit {
    margin-top: 48px; 
    width: 358px;
    height: 50px;
    color:  #FFFFFF;
    background-color: #000000;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    border:  none;
    border-radius: 2px;
  }
  
  @media screen and (max-width: 768px) {
    .button__action-submit {
      height: 20px;
      font-size: 12px;
    }
  }
  