@import "./__title/photos__title.css";
@import "./__photo/photos__photo.css";
@import "./__item/photos__item.css";
@import "./__grid/photos__grid.css";
@import "./__footer/photos__footer.css";

/*
.photos {
    width: calc(100% - 38px);
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto;
    list-style-type: none;
    margin: auto;
}

@media screen and (min-width: 425px){
    .photos {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media screen and (min-width: 768px){
    .photos {
        width: 69vw;
    }
}

@media screen and (min-width: 1024px){
    .photos {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}
*/