@import "./_action/button_action_add.css";
@import "./_action/button_action_close.css";
@import "./_action/button_action_edit.css";
@import "./_action/button_action_like.css";
@import "./_action/button_action_submit.css";

.button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button:hover {
    opacity: .5;
  }